body{
    background-image: url(./imagenes/bg-quinta.jpg);
}
/*---------------------------barra de navegación*/
nav{
    
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);

}
.container{
    display:inline-flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

}
.nav-links{
    display: inline-flex;
    gap: 1.5rem;
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
/*-----------------------header------------------------------*/
#carouselExampleSlidesOnly{
    width: 100%;
    position: relative;
}
h1{
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    font-family: 'DM Sans', sans-serif;
}
/*-----------------------main------------------------------*/
main{
    background-image: url(./imagenes/bg-p.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #151f2e;
    margin: 1rem;
    padding: 2rem;
    border-radius: 20px;
}

.presentacion {
    background: rgba(80, 120, 255, 0.12);
    backdrop-filter: blur(14px);

    border: 1px solid rgba(255, 255, 255, 0.15);

    box-shadow:
    0 8px 32px rgba(31, 38, 135, 0.37);
    border-radius: 24px;
    margin-bottom: 1rem;
    padding: 1rem;

}
.servicios {
background-image: url(./imagenes/bg-quinta.jpg);
width: 100%;
border-radius: 24px;




}
.imagenes{
    font-weight: 0.2rem;
}
.parrilla, .piscina,.pool{
    border-radius: 24px;
    margin-top: 1rem;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 20rem;
}

.parrafo-{
    position: relative;
    bottom: 11rem;
    z-index: 10;
    font-size: 0.8rem;
    color: #f5f5dc;
    text-shadow: 0 1px 6px rgba(0,0,0,0.80);
    margin: 1rem;
}

.imgC{
    height: 100%;
    width: 100%;
}
footer{
    background: linear-gradient(to bottom, #000033, #000080);

}
.contactos{
    text-align: center;
    color: #f5f5dc;
}